
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Eid</title>
    <link rel="stylesheet" href="/static/style.css">
    <script defer src="/static/index.js"></script>

</head>
<body>
    
    <div class="greetings">
        <h2>
            <div class="box">
                <span>H</span>
                <span>A</span>
                <span>P</span>
                <span>P</span>
                <span>Y</span>
                <span>E</span>
                <span>I</span>
                <span>D</span>
                <span>!</span>
                <span>!</span>
              </div>
        </h2>
    </div>
    <section class="container-main">
            <div class="countdown">
                <div class="container-day">
                    <h3>Day</h3>
                    <h3 class="day">Time</h3>
                </div>
                <div class="container-hour">
                    <h3>Hour</h3>
                    <h3 class="hour">Time</h3>
                </div>
                <div class="container-min">
                    <h3>Minutes</h3>
                    <h3 class="min">Time</h3>
                </div>
                <div class="container-seconds">
                    <h3>Seconds</h3>
                    <h3 class="seconds">Time</h3>
                </div>
            </div>
    </section>
</body>
</html>